@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #faf9fe;
  --foreground: #171717;
  --darkblue: #02243d;
  --navy: #0A4A7D;
  --steelblue: #2F6C9D;
  --darkslate: #2F343A;
  --accentgray: #A7ADB5;
  --bordergray: #D9DEE4;
}

html {
  font-size: 14px;
}
button{
  cursor: pointer;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkblue: var(--darkblue);
  --color-navy: var(--navy);
  --color-steelblue: var(--steelblue);
  --color-darkslate: var(--darkslate);
  --color-accentgray: var(--accentgray);
  --color-bordergray: var(--bordergray);
  --font-jetbrains: var(--font-jetbrains);
  --font-grotesk: var(--font-grotesk);
  --font-inter: var(--font-inter);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
